*.iml
/.gradle
/local.properties
/.idea/
.DS_Store
Thumbs.db
build/
/captures
.externalNativeBuild/
/private
/artifacts
/fastlane/report.xml
/fastlane/build/
/fastlane/.swagger/
/generated
/.gopath
.xpipeline
/pkg
go.sum
.gocache

# gradle wrapper
/gradlew*
/.gradle
/gradle
/.vscode

openapi.yaml